<div class="ui menu">
  <div class="ui container">
    <div class="header item borderless">
      <h1 class="ui header">EOS Login By Scatter</h1>
    </div>
  </div>
</div>

<div class="ui main container eight wide column">
    <button class="ui button" (click)="login()">Login By Scatter</button>
    <button class="ui button" (click)="logout()">Logout By Scatter</button>
    <div class="ui segment">
      <p>EOS Account Name : {{eosAccountName}}</p>
      <p>EOS Authority : {{eosAuthority}}</p>
      <p>hash : {{eosHash}}</p>
      <p>EOS Public Key : {{eosPubKey}}</p>
    </div>
</div>